.app-body{
    background: linear-gradient(268deg, #E0F7FA, #61a0e9, #87ceeb , #d4c7c4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.first-col{
    background: #fff;
}

.cloudocean{
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 32px;
}

.ocean{
    color: #0d6efd;
}

.wrapper{
    margin: auto;
    width: 500px;
    height: 640px;
    margin-top: 150px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.login-wrapper{
    position: relative;
    top: 160px;
    margin: auto;
    width: 90%;
}

.img-background{
    height: 100%;
    width:600px;
}

.col-forgot-password{
    text-align: right;
}

.forgot-password{
    color: #0d6efd;
}

.btn-flat{
    background-color: #47bd42!important;
    border-color: #47bd42!important;
    color:#fff!important;
}
