.app-body{
    background-image: url(https://wallpaperaccess.com/full/2546567.jpg);
    opacity: 0.8;
}

.first-col{
    background: #fff;
}

.cloudocean{
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 32px;
}

.ocean{
    color: #0d6efd;
}

.wrapper{
    position: relative;
    margin: auto;
    width: 500px;
    height: 640px;
    margin-top: 150px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.select-lang{
    position: absolute!important;
    right: 0;
}

.form-wrapper{
    position: relative;
    top: 140px;
    margin: auto;
    width: 90%;
}

.img-background{
    height: 100%;
    width:600px;
}

.col-text-right{
    text-align: right;
}

.btn-flat{
    background-color: #47bd42!important;
    border-color: #47bd42!important;
    color:#fff!important;
}

.terms{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 2px 0;
}

.messagebox{
    margin-top: 20px;
    text-align: center;    
}

.loading{
    text-align: center;    
    margin-top: 20px;
    color: #0d6efd;    
}

.loading{
    display: block;
}

.hidden{
    display: none;
}