.app-body{
    background-color: #63b2d8;
}

.first-col{
    background: #fff;
}

.second-col{
    background: #c3c3c3;
}

.wrapper{
    margin: auto;
    width: 1024px;
    height: 740px;
    margin-top: 150px;
    background: #fff;
}

.login-wrapper{
    position: relative;
    top: 200px;
    margin: auto;
    width: 90%;
}

.img-background{
    height: 100%;
    width:600px;
}

.wrapper-forgot-password{
    text-align: right;
}

.forgot-password{
    color: #0d6efd;
}

.btn-flat{
    background-color: #47bd42!important;
    border-color: #47bd42!important;
    color:#fff!important;
}
